@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Josefin+Sans:400,700');
/*     font-family: 'Josefin Sans', sans-serif;     */
/*     font-family: 'Arvo', serif;                  */


*{
	font-size: 0;
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

html{

}

body{
	line-height: 1;
}

a{
	text-decoration: none;
}

ul, ol{
	list-style: none;
}

input, textarea{
	outline: none;
}

textarea::-webkit-scrollbar{
	width: 15px;
	height: 15px;
	background-color: transparent;
}
